/***********   TAG Selectors   **********/
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: left;
  }

hr{
  background-color: black;
  size: 15px;
  border-top: 15px dotted #8c8b8b;

}

/***********   Class Selectors   **********/

  
/* Navigation Bar */

.container-fluid{
  padding: 3% 15% 3%;
  /* text-align: center; */
}

.navbar{
  margin: 0% 15%;
  /* padding: 5% 45%; */
  /* padding-left: 50px; */
}
  
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 20px;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
  
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: lighter;
}
  
/* Quem somos*/

.quemSomos{
  padding: 3% 15%;
}

.quemSomos-descricao{
  padding: 10% 15%;
}

.imagem-guitarrista{
  height: 350px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}


/** ID Title **/
#title{
    background-color: #FFC75F;
}