/***********   TAG Selectors   **********/
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: left;
  }

hr{
  border-style: solid; 
  border-color: blueviolet; 
  /* width: 70%;  */
  /* border-width: 10px; */
  margin: auto;
  opacity: 90%;
  align-content: center;
  
  background-color: #FFC75F;
}

/***********   Class Selectors   **********/

  
/* Navigation Bar */

.container-fluid{
  padding: 1% 15% 1%;
  /* text-align: center; */
}

.navbar{
  /* margin: 0% 15%; */
  /* padding: 5% 45%; */
  /* padding-left: 50px; */
}
  
.navbar-brand{
  font-family: 'Ubuntu';
  /* font-size: 20px; */
  font-weight: bold;
  color: blueviolet; 
  font-size: 2.5em;
}

.nav-item{
  padding: 0 18px;
}
  
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: lighter;
}

/* Publicidade */

.publicidadeVerticalEsquerda{
  height: 520px;
  width: 120px;
  margin: 10px;
  background-color: lightcoral;
  position: fixed;
  top: 50px;
}

.publicidadeVerticalDireita{
  height: 520px;
  width: 120px;
  margin: 10px;
  background-color: lightcoral;
  position: fixed;
  right: 0px;
  top: 50px;
}

.publicidadeRetangular{
  width: 300px;
  height: 250px;
  background-color: lightcoral;
}

.publicidadeArtigos{
  height: 150px;
  width: auto;
  background-color: lightcoral;
}


/** ID Title **/
#title{
    background-color: #FFC75F;
}


/** Seção Footer**/
.secao-footer{
  text-align: center;
  background-color: #FFC75F;
}

/************** Página teoria musical **********************/
.introducao-teoria-musical{
  text-align: center;
  padding: 3% 0%;
}

.introducao-teoria-musical h3{
  color: #FFC75F;
  font-weight: 600;

}

.imagem-teoria-lista{
  height: 350px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.teoriamusical{
  text-align: justify;
}
.linksOutrosArtigos{
  margin-top: 10px;
  padding: 10px;
  border: 3px solid blueviolet;
  border-radius: 15px;
}

/************** Página Intervalo musical **********************/

.grid-container{
    display: grid;
    grid-template-columns: 140px auto 140px;
    grid-template-rows: 300px;
    grid-auto-rows: auto;
    gap: 10px;
    padding: 10px;
}

.flex-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.barra_esquerda{
    background-color: blue;
}

.barra_direita{
    background-color: blue;
}

.barra_publicidade{
    background-color: blueviolet;
    flex: 1;
    min-width: 140px;
    height: 100px;

}

.barra_conteudo{
    background-color: chartreuse;
    flex: 3;
    min-width: 300px;
    height: 100px;
}

/* Media query para telas do tamanho de tablets */
@media (max-width: 768px){

}

